.loginContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    background-color: $white;
    padding: 3rem 4rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px $greyWhite;

    .header {
      font-size: $heading;
      text-align: center;
      margin: 1rem auto;
      font-weight: 500;
      color: $secondaryBlack;
    }

    .input {
      position: relative;
      padding: 1rem 0.6rem;
      border: 2px solid $greyWhite;
      margin: 2rem 0;
      border-radius: 0.5rem;

      label {
        position: absolute;
        top: -1rem;
        background-color: $white;
        padding: 0 0.2rem;
        font-size: $fontL;
        font-weight: 300;
        color: $grey;
      }
      input {
        border: none;
        font-size: 1rem;
        margin: 0 auto;
        width: 100%;
        outline: none;
      }
      .password {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    .login {
      padding: 0.65rem 0.85rem;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      background-color: $black;
      color: $white;
      font-size: 1rem;
      transition: 400ms ease-in;

      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 10px $secondaryBlack;
      }
    }

    .footer {
      margin-top: 4rem;

      .app {
        font-size: 0.85rem;
        color: $grey;
      }
      .version {
        font-size: 0.65rem;
        color: $grey;
      }
    }
  }
}
