h1 {
  text-align: center;
  color: white;
}
     .listContainer {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;

         .listChild {
            margin: 10px;
            background-color: #fffffe;
            padding: 10px;


             .content {
                text-align: center;
                color: #18191a;
                
                  a {
                    color: #b3dcec;
                     text-decoration: none;
                   }
                   h4 {
                    font-size: large;
                    font-family: sans-serif;
                    }
                   p {
                    font-family: sans-serif;
                    font-weight: lighter;
                    }
                   img {
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    }
                    img:hover {
                    -webkit-filter: grayscale(100%);
                     filter: grayscale(0%);
                     }
             }
            }
        }