@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$black: #18191a;
$secondaryBlack: #242526;
$grey: #b0b3b8;
$greyWhite: #e4e6eb;
$white: #ffffff;

$heading: 2rem;
$subHeading: 1.5rem;
$fontL: 1.2rem;
$fontxS: 0.75rem;
