@import './variables';
@import './login';
@import './member';
@import './slider';
@import './sophomore';
@import './home';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $black;
}

.wrapper {
  position: relative;
  width: 68%;
  margin: 0 auto;
  height: 100vh;
}
