@import './variables';
@import './login';
@import './form';
@import './member';
@import './slider';
@import './sophomore';
@import './home';
@import './input';
@import './profile';
@import './table';
@import './task';
@import './events';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $black;
}

.wrapper {
  position: relative;
  width: 68%;
  margin: 0 auto;
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.__modal_view {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
}
.ReactModal__Overlay {
  z-index: 100 !important;
}

.ReactModal__Content {
  background: unset !important;
  border: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Logout
.logout {
  position: fixed;
  top: 2%;
  right: 1%;

  a {
    padding: 0.5rem 1.2rem;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid tomato;
    font-size: 1rem;
    transition: all 400ms ease-in-out;

    &:hover {
      box-shadow: 0px 2px 5px tomato;
    }
  }
}
