@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.loginContainer {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginContainer .login {
  background-color: #ffffff;
  padding: 3rem 4rem;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 20px #e4e6eb;
          box-shadow: 5px 5px 20px #e4e6eb;
}

.loginContainer .login .header {
  font-size: 2rem;
  text-align: center;
  margin: 1rem auto;
  font-weight: 500;
  color: #242526;
}

.loginContainer .login .input {
  position: relative;
  padding: 1rem 0.6rem;
  border: 2px solid #e4e6eb;
  margin: 2rem 0;
  border-radius: 0.5rem;
}

.loginContainer .login .input label {
  position: absolute;
  top: -1rem;
  background-color: #ffffff;
  padding: 0 0.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #b0b3b8;
}

.loginContainer .login .input input {
  border: none;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  outline: none;
}

.loginContainer .login .input .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginContainer .login .login {
  padding: 0.65rem 0.85rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #18191a;
  color: #ffffff;
  font-size: 1rem;
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
}

.loginContainer .login .login:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px #242526;
          box-shadow: 2px 2px 10px #242526;
}

.loginContainer .login .footer {
  margin-top: 4rem;
}

.loginContainer .login .footer .app {
  font-size: 0.85rem;
  color: #b0b3b8;
}

.loginContainer .login .footer .version {
  font-size: 0.65rem;
  color: #b0b3b8;
}

.member .h1 {
  color: white;
}

.member .member-Container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.member .member-Container .card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 1rem;
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider {
  background-color: #18191a;
  height: 100vh;
  width: 15%;
  border-radius: 0 1.5rem 1.5rem 0;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .slider {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.slider .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 0 0;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .content .header h3 {
  font-weight: 400;
  font-size: 1.4rem;
  color: #e4e6eb;
}

.slider .content .body {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2rem 0;
}

.slider .content .body .element {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  color: #e4e6eb;
  font-size: 0.85rem;
  text-align: center;
  background-color: #242526;
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.slider .content .body .element:hover {
  -webkit-box-shadow: 2px 2px 10px #e4e6eb;
          box-shadow: 2px 2px 10px #e4e6eb;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slider .content .footer {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  color: #e4e6eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 100%;
}

.sliderOpener {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 15%;
  min-width: 270px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  padding: 0.5rem 1rem;
  background-color: #e4e6eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem 1rem 0 0;
}

.rightSlider {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #18191a;
  height: 80vh;
  width: 15%;
  background-color: #e4e6eb;
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 1rem;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  text-align: center;
  overflow: hidden;
}

.rightSlider .element {
  text-align: left;
}

.rightSlider .element .header {
  border-bottom: 1px solid #ccd;
  padding-bottom: 0.5rem;
}

.rightSlider .element .header h5 {
  margin-top: 0.5rem;
  color: #889;
}

.rightSlider .element .github .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 1rem 0 0;
  text-align: left;
}

.rightSlider .element .github .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rightSlider .element .github .details .detailRow {
  margin-bottom: 0.5rem;
}

.rightSlider .element .github .details .detailRow .detailBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1rem;
}

.rightSlider .element .social .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: left;
}

.rightSlider .element .social .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rightSlider .element .social .details .detailRow .detailBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1rem;
}

.rightSlider .element .notifications {
  margin-top: 1rem;
}

.rightSlider .element .notifications .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightSlider .element .notifications .logo p {
  margin-left: 0.5rem;
}

.rightSlider .element .notifications .card {
  padding: 0.5rem 0;
}

.rightSlider .element .notifications .card p {
  font-weight: 600;
}

.rightSlider .element .notifications .card h6 {
  color: #889;
  margin-top: 0.5rem;
}

.home .cardRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1rem 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .cardRow .card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 1rem;
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .cardRow .card a {
  position: absolute;
  bottom: 5px;
  margin-top: 1rem;
  text-decoration: none;
  color: skyblue;
  font-size: 1rem;
  font-weight: 300;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home .cardRow .card:nth-last-child(1) {
  margin-right: 0;
}

.home .cardRow .card .circle {
  width: 100px;
  height: 100px;
  background-color: #18191a;
  border-radius: 50%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .cardRow .card .circle p {
  font-size: 0.85rem;
}

.home .cardRow .card .memberRow {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.home .cardRow .card .memberRow .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .cardRow .card .memberRow .column:nth-last-child(1) {
  margin-right: 0;
}

.home .cardRow .card .memberRow .column .detailBox {
  margin-right: 0;
}

.home .cardRow .card .detailRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home .cardRow .card .detailRow .detailBox {
  text-align: center;
  margin-right: 1rem;
  padding: 0.5rem;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  min-width: 100px;
}

.home .cardRow .card .detailRow .detailBox p {
  font-size: 0.85rem;
  margin-top: 0.1rem;
}

.home .cardRow .card .detailRow .detailBox:nth-last-child(1) {
  margin-right: 0;
}

.home .cardRow .card .detailRow .detailBox:hover {
  background-color: rgba(220, 220, 220, 0.85);
}

.home .cardRow .card .detailRow .detailBox h6 {
  margin-top: 0.5rem;
  color: #ccd;
  font-size: 0.75rem;
  font-weight: 300;
}

.home .cardRow .chapters .detailRow .detailBox,
.home .cardRow .meets .detailRow .detailBox,
.home .cardRow .events .detailRow .detailBox {
  text-align: left;
  width: 100px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #18191a;
}

.wrapper {
  position: relative;
  width: 68%;
  margin: 0 auto;
  height: 100vh;
}
.MemberContainer{
  display:grid;
  grid-template-columns: auto auto;
  justify-content:center;
  align-content:center;
  background-color:#18191a;
}
.MemberContainer .memberChild{
  width:20vw;
  height:40vh;
  background-color:white;
  margin:30px;
  border-radius:10px;
  padding:auto;
  display:flex;
  justify-content:center;
  align-items: center;

}
.MemberContainer .year{
  width:60%;
  height:60%;
  background-color: #18191a;
  padding:auto;
  border-radius: 50%;
  padding:auto;
  display:flex;
  justify-content:center;
  align-items: center;

}
.MemberContainer .memberChild .year p{
  text-align: center;
  color:#fffffe;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}
/*# sourceMappingURL=styles.css.map */