@import './variables';
@import './login';
@import './form';
@import './member';
@import './slider';
@import './sophomore';
@import './page_wform_table';
@import './home';
@import './input';
@import './profile';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $black;
}

.wrapper {
  position: relative;
  width: 68%;
  margin: 0 auto;
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.__modal_view {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
}
